
# Node.js
node_modules/
dist/
.pnp
.pnp.js

# Firebase
.firebase/
firebase-debug.log
!**/functions/lib
!**/functions/node_modules

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# General
.DS_Store
*.log
tmp/
temp/
*.tmp
Thumbs.db

# Next.js specific
.next/
out/
next-env.d.ts

# Vercel
.vercel

# System files
[Tt]rash/
*~
*.bak

# Package lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Genkit
.genkit/

# Environment Variables
.env
.env.*
!/public/.well-known
